<!DOCTYPE html>
<html>
<head>
  <%= render "head" %>
</head>
<body x-data="{ debug: false, toggleAll(open) { document.querySelectorAll('details').forEach(d => d.open = open) } }" @keydown.window.meta.shift.d="debug = !debug">
  <div style="display: flex; justify-content: space-between; margin-bottom: 1rem; align-items: center;">
    <a href="<%= traces_path %>"><h1>Rails Trace Panel</h1></a>
    <%= form_tag traces_path, method: :delete, data: { confirm: "Are you sure?" } do %>
      <%= submit_tag "Delete all traces" %>
    <% end %>
  </div>
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>">
      <%= message %>
    </div>
  <% end %>

  <% if @traces.empty? %>
    <p><em>No traces saved yet.</em></p>
  <% else %>
    <% @traces.each_with_index do |trace, idx| %>
      <a class="trace" style="gap: 1rem; display: flex; flex-direction: column; padding: 0.5rem" href="<%= trace_path(trace.id) %>">
        <% trace.root_spans.each do |span| %>
          <div style="position:relative; padding: 0.2rem 1rem;">
            <%= render_span_bar(span, 30) %>
            <%= render_span_summary(span, trace) %>
          </div>
        <% end %>
      </a>
    <% end %>
  <% end %>
</body>
</html>
